.App {
  height: 100%;
  margin: 0;
  font-family: "Gentium Book Basic", serif;
}

h1 {
  margin: 0;
  font-family: "Playfair Display", serif;
  text-align: center;
}

p {
  margin: 0;
  text-align: center;
}

a {
  color: #dfc55a;
}

a:hover {
  color: white;
}

footer {
  padding: 30px;
  color: #dfc55a;
}
